<html>
    <head>
        <title>
            Заявка
        </title>
    </head>
    <body>
        <h1>
            Заявка
        </h1>
        <div>
            <h2>
                {{instance.title}}
            </h2>
            <p>
                {{instance.content}}
            </p>
            <p>
                <i>
                    {{instance.status}}
                </i>
            </p>
             <p>
                <i>
                    {{instance.status1}}
                </i>
            </p>
             <p>
                <i>
                    {{instance.status2}}
                </i>
            </p>
             <p>
                <i>
                    {{instance.post_author}}
                </i>
            </p>
        </div>
    </body>
</html>